<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <p class="h5">Iniciar Secion</p>
                    <form>
                        <div class="form-group">
                            <label for="idCorreo">Correo</label>
                            <input type="email" class="form-control" id="idCorreo" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="idContraseña">Contraseña</label>
                            <input type="password" class="form-control" id="idContraseña" placeholder="Contraseña">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="idRecordar">
                            <label class="form-check-label" for="idRecordar">Recordar</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <hr>
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><fa name="facebook-f"></fa>Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>